@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');


 * {
    font-family: 'Roboto',;

 }


/* adding background color to the body */
.body {
    background-color: #f1f7ed;
    /* color: blue; */
    height: 2000px;
    color: #555;


    
}

/* adding wallpaper at the top of the page, with no repeat option and cover scaling */
.primary-wp {
    background-image: url(./images/wp.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    background-position: center;
}



/* navbar styling  */
.scrolled-down{
    transform:translateY(-100%); transition: all 0.3s ease-in-out;
}
.scrolled-up{
    transform:translateY(0); transition: all 0.3s ease-in-out;
}




/* no actions on the logo */
.logo {
    pointer-events: none;
}



/* setting the display to none for hu class and then displaying the class in javascript after clicking on button flag  */
.hu {
    display: none;
}

/*  custom reusable class for box shadow */
 
.box-shadow {
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

/* custom reusable class for text-shadow */
.text-shadow {
    text-shadow: 2px 2px 5px #111;
}


/* button styling */
.button {
    width: 60px;
    height: 20px;
    border: none;
    border-radius: 5px;
    /* border-style: solid; */
    /* border-color: antiquewhite; */
    transition: 0.4s;
}

/* button on hover style */
.button:hover {
    transform: scale(0.95);
}

/* custom reusable class for scaling on hovering over objects */
.scale {
    transition: 0.4s;
}

.scale:hover {
    transform: scale(0.95);
    opacity: 95%;
}


/* adding images to the flags buttons */
.roFlag {
    background-image: url(./images/roFlag.jpeg);
}

.huFlag {
    background-image: url(./images/huFlag.jpeg);
    /* background-repeat: no-repeat; */
    background-size: cover;
}

/* not active class for non selected flag */
.notActive {
    opacity: 70%;
}



/* active class for selected flag */
.active {
    opacity: 100%;
}



/* custom reusable class for rounded corners  */
.rounded-corners {
    border-radius: 20px;
}






/* photo gallery */


/* Center website */
.main {
max-width: 1000px;
margin: auto;
}

.row-gallery {
margin: 8px -16px;
}

/* Add padding BETWEEN each column (if you want) */
.row-gallery ,
.row-gallery  > .column-gallery  {
padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column-gallery  {
float: left;
width: 33.33%;
display: none; /* Hide columns by default */
}

/* Clear floats after rows */
.row-gallery :after {
content: "";
display: table;
clear: both;
}

/* Content */
.content-gallery  {
background-color: white;
padding: 10px;
}

/* The "show-gallery" class is added to the filtered elements */
.show-gallery  {
display: block;
}

/* Style the buttons */
.btn-gallery  {
border: none;
outline: none;
padding: 12px 16px;
background-color: white;
cursor: pointer;
border-radius: 20px;
margin: 1%;
}

/* Add a grey background color on mouse-over */
.btn-gallery:hover {
background-color: #ddd;
}

/* Add a dark background color to the active button */
.btn-gallery.active-gallery  {
background-color: #555;
    color: white;
}


/* adding some margin at gallery section to look better */
.photo-div1{

    margin-top: 150px;
    
}


.photo-div2{

    margin-top: 50px ;
    
}



/* pricing area */

/* adding custom transition for mouse hover  */
.card-style {
    border:none;
    padding: 10px 50px;
    transition: all 0.2s
}


.card-style:hover {

    cursor: pointer;
    transform: scale(0.99);
    -webkit-transform: scale(0.99);
    backface-visibility: hidden; 
    will-change: transform;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.75) !important;
    transition: ease-in 0.2s;
}






/* quote area */
.quote {
    margin-top: 300px;
}





/* pricing area, adding some margin, for more space */
.pricing {
    margin-top: 120px !important;
}

.text-pricing  {
    margin-bottom: 30px !important;
}


/* styling the people photos for the card info */
.photo-1 {
    background-image: url(./images/ghiuri.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 200px;
    border-radius: 50%;
    border-color: #555;
    border-style: solid;

}

.photo-2 {
    background-image: url(./images/ana.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 200px;
    border-radius: 50%;
    border-color: #555;
    border-style: solid;

}


.photo-3 {
    background-image: url(./images/.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 200px;
    border-radius: 50%;
    border-color: #555;
    border-style: solid;

}


.footer {
    height: 100%;
    background-color: white;;

}